*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    background-color: #181562;
}
.navlist-top{
    list-style: none;
    display: flex;
    gap: 20px;

}
.logo{
    width: 50px;
    height: 50px;
}

.nav-item{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
nav{
    margin-top:10px ;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #181562;
}
.navlist-bottom{
    list-style: none;
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}
.navlist-bottom .nav-item{
    font-size: 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
}
.menu-icon{
    color: white;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
}
@media (max-width:780px) and (min-width:500px){
    .navlist-top{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
}
@media (max-width:400px){
    .navlist-bottom{
        display: flex;
    }
    .navlist-bottom .nav-item{
        display: flex;
    }
    .navlist-top{
        display: none;
    }
}